/* Header section */
.bg {
  /* The image used */
  background-image: url("./images/header.jpg");
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blog {
  /* The image used */
  background-image: url("./images/placeholder.jpg");
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  /* The image used */
  background-color: rgba(0, 0, 0, 0.5);
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-textbox {
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.header-textbox-blog {
  flex-grow: 1;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 5rem;
  position: relative;
}

.header-nav ul li {
  color: white;
  border-bottom: 3px solid transparent;
  border-right: 1px solid white;
  line-height: 5px;
}

.header-nav ul li:last-of-type {
  border-right: none;
}

.nav-item a {
  color: white;
  border-bottom: 3px solid transparent;
}

.nav-item :hover {
  border-bottom: 3px solid white;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.rounded-25 {
  border-radius: 25px;
}

.fill-div {
  width: 100%;
  height: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.img-circle {
  border-radius: 20%
}

.sizer {
  width: 75%
}

.carousel-control-prev, .carousel-control-next {
  margin-top: 15%
}

/* Customised bootstrap */
.w-40 {
  width: 40%;
}

.w-90 {
  width: 90%;
}

.fab {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Contact */
.contact-btn {
  display: block;
  color: #212529;
}

a.contact-btn:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {

  /* Header */
  .header-txt1 {
    font-size: 1.5rem;
  }

  .header-txt2 {
    font-size: 1rem;
  }

  .bg {
    height: 30vh;
  }

  .bg-blog {
    height: 30vh;
  }

  .layer {
    height: 30vh;
  }

  /* Navbar */
  .mobile-black a {
    color: black;
    border-bottom: 3px solid transparent;
  }

  .mobile-black :hover {
    border-bottom: 3px solid black;
  }

  .card-img-top {
      width: 100%;
      height: 50vw;
      object-fit: cover;
  }

  .sizer {
  width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .mx-lg-7 {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
