/* Header section */
.bg {
  /* The image used */
  background-image: url("./images/header.jpg");
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  /* The image used */
  background-color: rgba(0, 0, 0, 0.5);
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-textbox {
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.header-nav ul li {
  color: white;
  border-bottom: 3px solid transparent;
  border-right: 1px solid white;
  line-height: 5px;
}

.header-nav ul li:last-of-type {
  border-right: none;
}

.nav-item a {
  color: white;
  border-bottom: 3px solid transparent;
}

.nav-item :hover {
  border-bottom: 3px solid white;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.rounded-25 {
  border-radius: 25px;
}

.fill-div {
  width: auto;
  height: 100vh;
}

@media only screen and (max-width: 768px) {

  /* Header */
  .header-txt1 {
    font-size: 1.5rem;
  }

  .header-txt2 {
    font-size: 1rem;
  }

  .bg {
    height: 30vh;
  }

  .layer {
    height: 30vh;
  }

  /* Navbar */
  .mobile-black a {
    color: black;
    border-bottom: 3px solid transparent;
  }

  .mobile-black :hover {
    border-bottom: 3px solid black;
  }

  .card-img-top {
      width: 100%;
      height: 50vw;
      object-fit: cover;
  }
}

@media only screen and (min-width: 992px) {
  .mx-lg-7 {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
