/* Header section */
.bg {
  /* The image used */
  background-image: url("./images/header.jpg");
  /* Full height */
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

/* Navbar */


@media only screen and (max-width: 768px) {
  /* Header */
  .header-txt {
    margin-top: 12%;
    margin-right: 10%;
    font-size: 1.5rem;
  }

  .bg {
    height: 30vh;
  }

  /* Navbar */
  .nav-item a {
    color: black;
    border-bottom: 3px solid transparent;
  }

  .nav-item :hover {
    border-bottom: 3px solid black;
  }
}
